@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic');

/* reset css*/
ol,ul{ list-style: none; }
a{ outline: 0; text-decoration: none; }
img{ border: 0; }
* { margin: 0; padding: 0; font-family: 'Nanum Gothic', sans-serif; }

#hd{
	width: 100%;
	height: 72px;
	border-bottom: 1px solid #e3e3e3;
}

#main{
	width: 1200px;
	height: 72px;
	margin: 0 auto;
}

#img{
	float: left;
}

#main>ul{
	width: 800px;
	height: 71px;
	float: left;
	padding-left: 80px;
}

#main>ul>li{
	margin-left: 40px;
	width: 100px;
	height: 71px;
	float: left;
	text-align: center;
	line-height: 85px;
	font-size: 20px;
}

.menu_active{
	width: 100%;
	height: 340px;
	display: none;
	position: absolute;
	z-index: 90;
	margin-left: -612px;
	background: white;
}

.menu_dropbox{
	width: 1200px;
	height: 340px;
	margin: 0 auto;
	padding-top: 40px;
	z-index: 500;
}

.menu_dropbox2{
	width: 1160px;
	height: 265px;
	margin: auto;
	background: green;
}

.menu_tit_wrap{
	width: 250px;
	height: 260px;
	text-align: left;
	font-size: 55px;
  display: inline-block;
  line-height: 60px;
  background: gold;
}

.menu_tit_wap>img{
	width: 176px;
	height: 133px;
  display: inline-block;
}

.menu_list{
	width: 425px;
	height: 260px;
  display: inline-block;
  margin-right: -5px;
  border-left: 1px solid #e3e3e3;
  background: silver;
}

.event_wrap{
  overflow: hidden;
  width: 262px;
  height: 260px;
  display: inline-block;
}



#main>div{
	width: 240px;
	height: 71px;
	float: left;
	font-size: 14px;
	padding-left: 80px;
	padding-top: 40px; 
	border-left: 1px solid #e3e3e3;
}

#main>div>a{
	margin-left: 10px; 
}

#main>div>img{
	margin-left: 10px; 
}

#sc{
	width: 100%;
	height: 2034px;
}

#boxes{
	width: 1310px;
	height: 1330px;
	margin: 0 auto;
}

#boxes>div{
	margin: 5px 5px 5px 5px;
	float: left;
}

#img01{
	width: 763px;
	height: 626px;
	position: relative;
	overflow: hidden;
}

#img01>img{
	height: 626px;
}

#img02{
	width: 254px;
	height: 308px;
	border: 1px solid #e3e3e3;
	padding: 24px 25px 0;
}

#bx_wrap{
	margin-top: 48px;
	height: 210px;
}

#bx_li1{
	font-size: 20px;
	letter-spacing: -1px;
}

#bx_li2{
	font-size: 14px;
	color: #999;
}


#img03{
	width: 254px;
	height: 308px;
	overflow: hidden;
	background-image: url(../img/dringking.png);
	background-size: cover;
	padding: 24px 25px 0;
}

#img04{
	width: 254px;
	height: 308px;
	background: #beb5aa;
	padding: 24px 25px 0;
	position: relative;
	color: white;
}

#img04>a{
	width: 254px;
	height: 308px;
	position: absolute; 
}

#img04>a>img{
	position: absolute;
	width: 200px;
	height: 200px;
}

#img05{
	width: 254px;
	height: 308px;
	position: relative;
	color: white;
}

#img05>a>img{
	width: 254px;
	height: 308px;
	position: absolute;
}

#img06{
	width: 318px;
	height: 680px;
	background: #BD87B9;
	position: relative;
	line-height: 300%;
}

#img06>p{
	position: absolute;
	font-size: 42px;
	color: #fff;
	left: 37px;
	top: 45px;
}

#img06>p>span{
	font-size: 18px;
	color: #fff;
	left: 37px;
	top: 45px;
	line-height: 110%;
}

#img06>img{
	width: 282px;
	height: 249px;
	position: absolute;
	top: 430px;
	left: 30px;
}

#img07{
	width: 636px;
	height: 335px;
	position: relative;
	overflow: hidden;
	background-image: url(../img/img_maxim_flant_banner.jpg);
	background-size: cover;
}

#img07>a{
	width: 636px;
	height: 335px;
	position: absolute; 
}

#img07>a>img{
	position: absolute;
	width: 365px;;
	height: 188px;
	left: 30px;
	top: 30px;
}

#img08{
	width: 318px;
	height: 335px;
	position: relative;
	color: white;
}

#img08>a>img{
	width: 318px;
	height: 335px;
	position: absolute;
}

#img09{
	width: 318px;
	height: 335px;
	position: relative;
	color: white;
	padding: 24px 25px 0;
	background-image: url(../img/img_wz_00.jpg);
	background-size: cover;
}

#img10{
	width: 636px;
	height: 335px;
	background: #BF657E;
	position: relative;
	line-height: 300%;
}

#img10>p{
	position: absolute;
	font-size: 42px;
	color: #fff;
	left: 35px;
	top: 55px;
}

#img10>p>span{
	font-size: 18px;
	color: #fff;
	left: 37px;
	top: 45px;
	line-height: 110%;
}

#img10>img{
	width: 282px;
	height: 249px;
	position: absolute;
	top: 80px;
	left: 350px;
}


#coffee{
	width: 100%;
	height: 710px;
	text-align: center;
	position: relative;
	margin-top: 10px;
}

#under_bgi{
	width: 100%;
	height: 540px;
	overflow: hidden;
	background-image: url(../img/bg_prd_mitte.jpg);
	background-size: cover;
	position: absolute;
}

#under_main{
	width: 1147px;	
	height: 670px;
	display: inline-block;
	position: relative;
	margin-top: 30px;
}

#brand_menu{
	width: 720px;
	height: 32px;
	margin: 0 auto;
	color: white;
}

#brand_menu>ul{
	text-align: center;
}

#brand_menu>ul>li{
	display: inline-block;
	font-size: 16px;
	padding: 5px 8px;
}

#under_main>div{
	width: 1146px;
	height: 300px;
}

#mitte_img{
	width: 1145px;
	height: 335px;
	margin: 0 auto;
	padding-top: 45px;
	top: 50px;
	position: absolute;
}

#under_main>div>div>h1{
	text-align: center;
}

#under_main>div>div>p{
	text-align: center;
	margin-top: 40px;
	color: white;
	font-size: 26px;
}

#under_main>div>ul{
	width: 1145px;
	height: 303px;
	margin-top: 335px;
	text-align: center;
}

#under_main>div>ul>li{
	width: 260px;
	height: 289px;
	display: inline-block;
	margin-right: -4px;
}

#under_main>div>ul>li>a>p>img{
	width: 245px;
	height: 245px;
}


#brand_phila{
	display: none;
}

#brand_mitte{
	display: block;
}

#ft{
	width: 100%;
	height: 213px;
	margin-top: 100px;
}

#ft_up{
	height: 81px;
	border-top: 1px solid black; 
}

#agree{
	width: 1147px;
	height: 81px;
	margin: 0 auto;
}

#agree>ul{
	display: inline-block;
	padding-top: 30px;
}

#agree>ul>li{
	display: inline-block;
	margin-right: 5px;
	border-left: 1px solid #333;
	padding-left: 5px;
}

#agree>ul>li:nth-child(1){
	color: red;
}

#link{
	width: 657px;
	height: 33px;
	display: inline-block;
	text-align: right;
	margin-left: 100px;
}

#link>div{
	display: inline-block;
}

#link>div>select{
	width: 169px;
	height: 33px;
}
	
#ft_down{
	height: 130px;
	border-top: 1px solid #e3e3e3; 
}

#copy{
	width: 1147px;
	height: 130px;
	margin: 0 auto;
	font-size: 13px;
	padding-top: 7px;
}

/* 
@keyframes move{
	0%{opacity:0.5};
	100%{opacity:1};
}

.li01{
	opacity:0.5;
}

.ani{
	
	opacity:1;
} */
